svg.icon{
    width: 1em;
    height: 1em;
}
.col-form-label{
    text-align: right;
    font-size: 13px;
    font-weight: 300;
}
.owl-carousel{
    padding-left: 30px;
    padding-right: 30px;
    .owl-prev,
    .owl-next{
	transform: translateY(-55%);
	position: absolute;
	top: 50%;
	&.disabled{
	    opacity: .5;
	}
	svg{
	    color: #fff;
	    width: 13px;
	    height: 13px;
	}
    }
    .owl-prev{
	left: 10px;
    }
    .owl-next{
	right: 10px;
    }
}
.live-bets{
    .sidebar{

    }
}
/*Sidbar Widgets*/
.card{
    .card-header{
	text-transform: uppercase;
    }
}
.card-timeline{
    .row{
	align-items: center;
	justify-content: space-between;
    }
    .clock{
	font-size: 15px;
	font-weight: 700;
    }
    .min-bet{
	font-size: 12px;
	color: #8599a5;
	span{
	    color: #fff;
	}
    }
}
.site-search{
    .btn,
    .form-control{
	border-radius: 0;
	background-color: $gray-600;
	border-color: $gray-600;
	color: #fff;
    }
    .icon{
	width: 18px;
	height: 18px;
    }
    .form-control{
	&::placeholder {
	    color: #fff;
	    // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526.
	    opacity: 1;
	}
    }
}
.card-your-account{
    .card-body{
	color: #8599a5;
	font-size: 13px;
    }
    strong,
    span{
	color: #fefefe;
    }
    .col-auto div + div{
	margin-top: 4px;
    }
    .row{
	align-items: center;
	justify-content: space-between;
    }
    .btn{
	min-width: 96px;
    }
}
.block-header-menu{
    padding-left: 10px;
    background-color: $gray-800;
    display: flex;
    width: 100%;
    align-items: center;
    .carousel-wrp {
	flex-grow: 1;
    }
    .heading{
	margin: 0;
	text-transform: uppercase;
	font-weight: 700;
    }
    .owl-nav{
	display: block!important;
    }
    .bit-type-link{
	display: inline-block;
	padding: 4px 0;
	border-top: 3px solid transparent;
	border-bottom: 3px solid transparent;
    }
    .bit-type-link:hover,
	.current.bit-type-link{
	border-bottom: 3px solid $yellow;
    }
}
.bit-type{
    .carousel-wrp {
	max-width: calc(100% - 95px);
    }
}
.card-live{
    background-color: $gray-800;
    border-radius: 5px;
    margin-top: 20px;
}
.card-event{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    text-align: center;
    padding: 10px 0;
    font-size: 13px;
    font-weight: 400;
    > div{
	border-left: 1px solid $gray-400;
	padding: 5px;
    }
    .toggle-favorite{
	.icon{
	    width: 16px;
	    height: 16px;
	    color: #5a676d;
	}
    }
    .muiltilive{
	.icon{
	    width: 19px;
	    height: 19px;
	    color: #5a676d;
	}
    }
    .event-favorite{
	flex: 0 0 7%;
	border-left: none;
    }
    .event-see,
    .event-statistic{
	flex: 0 0 7%;
	a{
	    color: $yellow;
	}
    }
    .event-number{
	flex: 0 0 12%;
	color: #999;
    }
    .event-time{
	flex: 0 0 16%;
	color: #3c0;
    }
    .event-score{
	flex: 0 0 12%;
	color: #fff;
    }
    .event-message{
	flex: 0 0 32%;
	border-left: none;
	text-align: right;
    }
    .event-more{
	flex: 0 0 7%;
    }
}