.site-header{
    background: $gray-800;
    .nav-link{
	text-transform: uppercase;
	border-top: 3px solid transparent;
	border-bottom: 3px solid transparent;
    }
    .nav-link:hover,
	.active .nav-link{
	border-bottom: 3px solid $yellow;
    }
    .navbar-toggler{
	border:0 none;
	.btn-text{
	    font-size: 14px;
	}
	.icon{
	    display: inline-block;
	    width: 18px;
	    height: 16px;
	    position: relative;
	    top: 4px;
	    margin-right: 5px;
	    i{
		display: block;
		position: absolute;
		height: 2px;
		width: 100%;
		background-color: $white;
		left: 0;
		transform: rotate(0deg);
		transition: .25s ease-in-out;
		&:nth-child(1){
		    top: 0;
		}
		&:nth-child(2),
		    &:nth-child(3){
		    top: 6px;
		}
		&:nth-child(4){
		    top: 12px;
		}
	    }

	}
	&:not(.collapsed){
	    .icon{
		i{
		    &:nth-child(1){
			top: 9px;
			width: 0;
			left: 50%;
		    }
		    &:nth-child(2){
			transform: rotate(45deg);
		    }
		    &:nth-child(3){
			transform: rotate(-45deg);
		    }
		    &:nth-child(4){
			top: 9px;
			width: 0;
			left: 50%;
		    }
		}
	    }
	}
    }
}