.site-header{
    background: $gray-800;
    .nav-link{
	text-transform: uppercase;
	border-top: 3px solid transparent;
	border-bottom: 3px solid transparent;
    }
    .nav-link:hover,
	.active .nav-link{
	border-bottom: 3px solid $yellow;
    }
    .navbar-toggler{
	border:0 none;
	.btn-text{
	    font-size: 14px;
	}
	.icon{
	    display: inline-block;
	    width: 18px;
	    height: 16px;
	    position: relative;
	    top: 4px;
	    margin-right: 5px;
	    i{
		display: block;
		position: absolute;
		height: 2px;
		width: 100%;
		background-color: $white;
		left: 0;
		transform: rotate(0deg);
		transition: .25s ease-in-out;
		&:nth-child(1){
		    top: 0;
		}
		&:nth-child(2),
		    &:nth-child(3){
		    top: 6px;
		}
		&:nth-child(4){
		    top: 12px;
		}
	    }

	}
	&:not(.collapsed){
	    .icon{
		i{
		    &:nth-child(1){
			top: 9px;
			width: 0;
			left: 50%;
		    }
		    &:nth-child(2){
			transform: rotate(45deg);
		    }
		    &:nth-child(3){
			transform: rotate(-45deg);
		    }
		    &:nth-child(4){
			top: 9px;
			width: 0;
			left: 50%;
		    }
		}
	    }
	}
    }
}
.nav-events{
    display: flex;
    width: 100%;
    .favorite-item{
	flex: 0 0 80px;
    }
    .carousel-wrp{
	flex-grow: 1;
	max-width: calc(100%-80px);
    }
    .owl-prev,
    .owl-next{
	transform: translateY(-50%);
	position: absolute;
	top: 50%;
	&.disabled{
	    opacity: .5;
	}
	svg{
	    color: #fff;
	    width: 20px;
	    height: 20px;
	}
    }
    .owl-prev{
	left: 10px;
    }
    .owl-next{
	right: 10px;
    }
    .event-link{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 80px;
	height: 80px;
	font-size: 12px;
	font-weight: 400;
	color: #6d797e;
	position: relative;
	.counter{
	    position: absolute;
	    top: 5%;
	    right: 10%;
	    color: #fff;
	}
    }
    .favorite{
	.counter{
	    top: 15%;
	    right: 20%;
	    color: #fff;
	    display: inline-block;
	    text-align: center;
	    background: $red;
	    min-width: 18px;
	    padding: 0 2px;
	    border-radius: 50%;
	}
    }
    .current .event-link,
    .event-link:hover,
	.favorite{
	background-color: $gray-800;
	color: #fff;
    }
    .nav-icon{
	display: inline-block;
	margin: 5px 0 7px;
	.icon{
	    width: 30px;
	    height: 30px;
	}
    }

}