@include media-breakpoint-up(lg) {
    .site-header{
	.nav-item{
	    margin-left: 22px;
	}
    }
}
@include media-breakpoint-only(lg){
    .site-header {
	.nav-item {
	    margin-left: 13px;
	}
	.nav-link{
	    font-size: 11px;
	}
    }
}
@include media-breakpoint-down(lg){
    .site-header {
	.navbar-nav{
	    padding-left: 15px;
	    padding-right: 15px;
	}
    }
}
@include media-breakpoint-down(sm){
    .site-header {
	.navbar-brand{
	    max-width: 200px;
	}
    }
}