@include media-breakpoint-up(md) {
    .nav-events{
	.owl-carousel{
	    padding-left: 40px;
	    padding-right: 40px;
	}
    }
    .event-info .event-score {
	.team span {
	    font-size: 20px;
	}
	.score{
	    font-size: 43px;
	}
    }
    .match-results{
	padding: 20px 18px 0 35px;
    }
    .match-stat{
	padding: 10px 18px 20px 35px;
    }
    .sports-mapattack{
	padding: 20px 35px 20px 18px;
    }
}
@include media-breakpoint-up(lg) {
    .site-header{
	.nav-item{
	    margin-left: 22px;
	}
    }
    .live-bets{
	.sidebar{
	    order: 2;
	}
	.main-content{
	    order: 1;
	}
    }
}
@include media-breakpoint-only(lg){
    .site-header {
	.nav-item {
	    margin-left: 13px;
	}
	.nav-link{
	    font-size: 11px;
	}
    }
}
@media(min-width: 992px) and (max-width: 1439px){
    .col-stat,
    .col-mapattack{
	flex: 0 0 100%;
	max-width: 100%;
    }
}
@include media-breakpoint-down(lg){
    .site-header {
	.navbar-nav{
	    padding-left: 15px;
	    padding-right: 15px;
	}
    }
}
@include media-breakpoint-down(md){
    .col-lg-6+.col-lg-6{
	margin-top: 20px;
    }
}
@include media-breakpoint-down(sm){
    .site-header {
	.navbar-brand{
	    max-width: 200px;
	}
    }
    .card-event{
	.event-row{
	    flex-wrap: wrap;
	    .event-number,
	    .event-statistic,
	    .event-see,
	    .event-favorite {
		flex: 0 0 25%;
	    }
	    .event-time{
		flex: 0 0 25%;
		&:before{
		    display: none!important;
		}
	    }
	    .event-score{
		flex: 0 0 25%;
	    }
	    .event-message{
		flex: 0 0 35%;
	    }
	    .event-more{
		flex: 0 0 15%;
	    }
	}
    }
    .card-live{
	.event-bet{
	    flex: 0 0 100%;
	    &:before{
		display: none!important;
	    }
	}
    }
}