// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.


// Table of Contents
//
// Color system
$white:    #fff;
$gray-500: #8599a5;
$gray-600: #6d797e;
$gray-700: #465156;
$gray-800: #313d43;
$gray-900: #263238;

$blue:    #3069d0;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #e83e8c;
$red:     #d3251b;
$orange:  #f86c26;
$yellow:  #ffa800;
$green:   #28a745;
$teal:    #20c997;
$cyan:    #079fa1;

$primary: $blue;
$secondary: $yellow;


// Options
$enable-rounded: false;
// Spacing
$spacer: 2rem;
// Body
$body-bg: $gray-900;
$body-color: $white;
// Links
$link-hover-decoration: none;
$link-color: $white;
// Paragraphs
// Grid breakpoints
// Grid breakpoints
$grid-breakpoints: (
xs: 0,
sm: 576px,
md: 768px,
lg: 992px,
xl: 1280px
);
// Grid containers
$container-max-widths: (
sm: 570px,
md: 760px,
lg: 990px,
xl: 1260px,
);
// Grid c
// Fonts
$font-family-sans-serif:  'Open Sans', sans-serif;

$font-size-base: 1rem;

$font-weight-base : 300;

$h1-font-size: rem(40px);
$h2-font-size: rem(40px);
$h3-font-size: rem(32px);
$h4-font-size: rem(18px);
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base ;

$headings-font-weight: 700;

$headings-margin-bottom: 1rem;

// Components
// Tables
// Buttons
$btn-font-weight: 900;
$btn-padding-y-lg: rem(16px);
// Forms
// Dropdowns
// Z-index master list
// Navs
// Navbar
$navbar-brand-padding-y: 0;

$navbar-padding-y: 0;
$navbar-padding-x: 0;

$navbar-nav-link-padding-x: 0;
// Pagination
// Jumbotron
// Form states and alerts
// Cards
// Tooltips
// Popovers
// Badges
// Modals
// Alerts
// Progress bars
// List group
// Image thumbnails
// Figures
// Breadcrumbs
// Carousel
// Close
// Code

//$dot-background: $blue;